.event {
  &-image {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    position: relative;

    &-details {
      background: $tertiary-colour;
      position: absolute;
      right: 0;
      bottom: 10%;
    }
  }
}
