#footer {
  background: $bdac-black;
  color: $bdac-white;
  min-height: 20rem;
  padding: 0;
  border-top: $default-border;
  list-style: none;
  position: relative;
  z-index: 1;

  .pre-footer {
    margin-bottom: 2rem;
    padding: 0;

    @media (min-width: 992px) {
      height: 6rem;
    }

    a {
      width: 100%;
      height: 100%;
      color: #fff;
      transition: 600ms all ease;

      .pre-footer-btn {
        color: #fff;
        width: 100%;
        height: 100%;
        border-radius: 0;
        font-family: $header-font;
        font-size: 1.875rem;
        line-height: 2rem;
      }

      &:hover {
        .pre-footer-btn {
          color: $bdac-red;
        }
      }
    }
  }

  .footer {
    &-section {
      margin-bottom: 2rem;
    }

    &-associate {
      max-height: 80px;
      margin: 0 1rem;
    }
  }

  h6 {
    color: $bdac-white;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: $default-border;
    text-transform: uppercase;
    letter-spacing: 0;
  }

  p {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }

  ul {
    padding: 0;

    li {
      margin: 0.75rem 0;
      list-style: none;

      a {
        color: $bdac-white;
        font-size: 0.9rem;

        &:hover {
          color: $bdac-red;
        }
      }
    }
  }

  @media (min-width: 991px) {
    font-size: 0.8rem;

    h6 {
      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem;
      border-bottom: $default-border;
      font-size: 0.875rem;
      letter-spacing: 0;
    }
  }
}
