.header {
  &-social {
    background: $bdac-blue;
    color: $bdac-white;
    height: 34px;

    &-opening {
      width: fit-content;
    }

    .container {
      max-width: 100rem;
      padding: 0 19px;
    }

    &-links {
      i {
        color: $bdac-white;
        margin: 0.2rem 0 0.2rem 1rem;
        font-size: 1rem;

        &:hover {
          color: $bdac-red;
        }
      }
    }
  }

  .container-fluid {
    margin-right: 0;
    flex-direction: column;

    @media screen and (min-width: 992px) {
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}

.navbar {
  background-color: $white;

  @media (max-width: 540px) {
    top: 0;
  }
  @media screen and (min-width: 992px) {
    background-color: transparent;
    height: 3.75rem;
  }

  &-search {
    > i {
      color: $bdac-blue !important;
    }
  }

  .navbar-toggler-icon {
    margin: 9px;
  }

  i {
    color: $bdac-white;
    font-size: 1rem;
    position: relative;
    top: 1px;
    transition: all 600ms;
  }

  .logo-container {
    width: 6.25rem;
    height: 6.25rem;
    position: absolute;
    top: 8px;
    left: 15px;

    .logo {
      border-radius: 100%;
      box-shadow: 0.15rem 0.15rem 0.6rem rgba(7, 31, 91, 0.65);
      transition: box-shadow 300ms;

      &:hover {
        box-shadow: 0.07rem 0.07rem 0.3rem rgba(7, 31, 91, 0.85);
      }
    }
  }

  .navbar {
    &-nav {
      @media (max-width: 991px) {
        text-align: center;
      }

      .nav {
        &-item {
          @media (max-width: 991px) {
            background: rgba(7, 31, 91, 0.01);
            margin: 0.3rem;
          }
        }
        &-link {
          color: $bdac-blue;
          margin: 0 auto;
          padding: 0.5rem 1rem;
          font-family: $header-font;
          font-size: 0.875rem;
          font-weight: 700;
          line-height: 0.875rem;
          text-align: center;
          text-transform: uppercase;
          position: relative;
          transition: opacity 300ms;

          @media (min-width: 992px) {
            color: $bdac-white;
            text-transform: uppercase;
          }

          &.active {
            color: $bdac-red;
          }

          &::after {
            content: "";
            background: $bdac-red;
            width: 100%;
            height: 0.1875rem;
            position: absolute;
            left: 0;
            bottom: 0;
            transform: scaleX(0);
            transition: transform 300ms ease;
          }
          &:hover {
            opacity: 0.85;

            &::after {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }

  .donate-area {
    height: 3.75rem;
    padding-right: 0.75rem;
    align-items: center;

    .header-donation {
      font-size: 1rem;
    }
  }

  @media (min-width: 992px) {
    // top: 34px;
    border-bottom: none;
    transition: all 600ms;

    .logo-container {
      position: absolute;
      top: 8px;
      left: 15px;
      transition: transform 600ms ease;
    }

    &-scrolled,
    &-not-front {
      background: $white;
      border-bottom: $default-border;

      .logo-container {
        position: absolute;
        transform: translateY(-10px);
      }

      .btn-bdac-donate {
        &:hover {
          color: $bdac-red;
        }
      }

      .navbar-nav {
        li {
          a {
            color: $bdac-blue !important;
            transition: 220ms all ease;
          }
        }
      }
    }
  }
}
