.btn-bdac {
  background: $bdac-red;
  color: $bdac-white;
  padding: 0.9375rem 1.875rem;
  border: 0.125rem solid $bdac-red;
  border-radius: 0.25rem;
  font-family: $header-font;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.125rem;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  transition: 330ms all ease;
  -webkit-transition: 330ms;
  -o-transition: 330ms;
  z-index: 1;

  &-link {
    overflow: hidden;
  }

  &:hover,
  &:focus {
    background: $white;
    color: $bdac-red;
    border-color: $bdac-red;
  }

  &-alt {
    background-color: transparent;
    color: $bdac-red;
    width: fit-content;
    padding: 0.9375rem 1.875rem;
    border: 0.125rem solid $bdac-red;
    border-radius: 0.25rem;
    transition: 300ms ease-in;
    font-family: $header-font;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.125rem;
    text-transform: uppercase;
    transition: 330ms all ease;
    -webkit-transition: 330ms;
    -o-transition: 330ms;

    a {
      width: 100%;
      height: 100%;
    }

    &:hover {
      background-color: $bdac-red;
      color: $bdac-white;
    }
  }

  i {
    margin-left: 10px;
    position: relative;
    color: inherit;
  }

  a:hover,
  a:focus {
    color: $bdac-red;
    text-decoration: underline;
  }

  &-red {
    background: $bdac-red;
    color: $bdac-white;
    border: $default-border;

    &:hover,
    &:focus {
      background: $bdac-white;
      color: $bdac-red;
    }
  }
  &-blue {
    background: $bdac-blue;
    color: $bdac-white;
    border-color: $bdac-blue;

    &:hover,
    &:focus {
      background: $bdac-white;
      color: $bdac-blue;
    }
  }

  &-donation {
    background: $bdac-red;
    color: $bdac-white;
    padding: 0.75rem 1.25rem;
    border: none;
    border-radius: 0.1875rem;
    font-family: $body-font;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: all 600ms;
    align-items: center;
    justify-content: center;

    &:hover {
      background: $bdac-white;
      color: $bdac-red;
      border-color: $bdac-red;
    }
  }

  &-donate {
    margin-left: 0.5rem;

    &:hover {
      background: $white;
    }
  }
}
