.btn-bdac {
  color: $bdac-blue;
  padding: 5px 0;
  border: 0.125rem solid $bdac-red;
  border-radius: 0.25rem;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  transition-duration: all 330ms;
  -webkit-transition-duration: all 330ms;
  -o-transition-duration: all 330ms;
  z-index: 1;

  &-alt {
    background-color: transparent;
    color: $bdac-red;
    width: fit-content;
    padding: 0.9375rem 1.875rem;
    border: 0.25rem solid $bdac-red;
    border-radius: 0.25rem;
    transition: 300ms ease-in;
    font-family: $body-font;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.25rem;
    text-transform: uppercase;

    a {
      width: 100%;
      height: 100%;
    }

    &:hover {
      background-color: $bdac-red;
      color: $bdac-white;
    }
  }

  i {
    margin-left: 10px;
    position: relative;
    color: inherit;
  }
  &:hover {
    color: #fff;
  }

  &::after {
    background-color: $bdac-red;
    color: #fff;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    background: #cc4627;
    background: -webkit-gradient(linear, left top, right top, from(#cc4627), to($bdac-red));
    background: -o-linear-gradient(left, #cc4627, $bdac-red);
    background: linear-gradient(to right, #cc4627, $bdac-red);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    -webkit-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
    content: " ";
    display: block;
    width: 0;
    height: 2px;
  }

  &:hover::after {
    color: #fff;
    opacity: 1;
  }
  a:hover,
  a:focus {
    color: $bdac-red;
    text-decoration: underline;
  }

  &-red {
    background: $bdac-red;
    color: $bdac-white;
    border: $default-border;

    &:hover,
    &:focus {
      background: $bdac-white;
      color: $bdac-red;
    }
  }
  &-blue {
    background: $bdac-blue;
    color: $bdac-white;
    border-color: $bdac-blue;

    &:hover,
    &:focus {
      background: $bdac-white;
      color: $bdac-blue;
    }
  }

  &-donation {
    background: $bdac-red;
    color: $bdac-white;
    height: 100%;
    border: none;
    border-left: $default-border;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    transition: all 600ms;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: $bdac-white;
      color: $bdac-red;
      border-color: $bdac-red;
    }
  }
}
