* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $tertiary-colour;
  color: $black;
}

#main {
  background: $tertiary-colour;
  color: $black;
  min-height: calc(100vh - 60px - 0.125rem);
  margin-top: 60px;

  &-alt {
    margin-top: 60px;
  }

  @media (min-width: 992px) {
    min-height: calc(100vh - 24px - 0.125rem);
    margin-top: 34px;

    &-alt {
      margin-top: 82px;
    }
  }
}

section {
  padding: 1rem 0;

  @media (min-width: 992px) {
    padding: 3rem 0 1rem;
  }
}

// Colours

.bdac {
  &-bg {
    &-red {
      background: $primary-colour;
    }
    &-blue {
      background: $secondary-colour;
    }
    &-white {
      background: $tertiary-colour;
    }
    &-black {
      color: $black;
    }
  }

  &-colour {
    &-red {
      color: $primary-colour;
    }
    &-blue {
      color: $secondary-colour;
    }
    &-white {
      color: $tertiary-colour;
    }
    &-black {
      color: $black;
    }
  }

  &-greyscale {
    filter: grayscale(80%);
  }

  &-shadow {
    box-shadow: 0.15rem 0.15rem 0.6rem rgba($secondary-colour, 65%);

    &:hover {
      box-shadow: 0.07rem 0.07rem 0.3rem rgba($secondary-colour, 0.85);
    }
  }
}
