* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bdac-white;
  color: $bdac-black;
}

.admin-bar {
  #main,
  .header {
    margin-top: 32px !important;
  }
}

#main {
  background: $bdac-white;
  color: $bdac-black;
  min-height: calc(100vh - 60px - 0.125rem);
  margin-top: 4.75rem;
  overflow-x: hidden;

  &-alt {
    margin-top: 5.75rem;
    overflow-x: hidden;
  }

  @media (min-width: 48rem) {
    min-height: calc(100vh - 24px - 0.125rem);
    margin-top: 6.75rem;

    &-alt {
      margin-top: 5.875rem;
    }
  }

  @media (min-width: 62rem) {
    margin-top: 2.125rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;

  @media (min-width: 62rem) {
    font-size: 2rem;
  }
}

p,
span,
li {
  font-family: $body-font;

  a {
    font-family: inherit;
  }
}

sub,
sup {
  font-size: 0.5em;
}

sup {
  top: -1em;
}

section {
  background-color: $bdac-white;
  padding: 2.5rem 0;
  text-align: left;
  position: relative;
  z-index: 1;

  &:last-of-type {
    padding-bottom: 5rem;
  }

  @media (min-width: 992px) {
    padding: 3.125rem 0;

    &:last-of-type {
      padding-bottom: 6.25rem;
    }
  }
}

// Colours

.bdac {
  &-bg {
    &-red {
      background-color: $bdac-red !important;
    }
    &-blue {
      background-color: $bdac-blue !important;
    }
    &-altblue {
      background-color: $bdac-blue-alt !important;
    }
    &-white {
      background-color: $bdac-white !important;
    }
    &-black {
      background-color: $bdac-black !important;
    }
  }

  &-colour {
    &-red {
      color: $bdac-red !important;
    }
    &-blue {
      color: $bdac-blue !important;
    }
    &-altblue {
      color: $bdac-blue-alt !important;
    }
    &-white {
      color: $bdac-white !important;
    }
    &-black {
      color: $bdac-black !important;
    }
  }

  &-greyscale {
    filter: grayscale(80%);
  }

  &-shadow {
    box-shadow: 0.15rem 0.15rem 0.6rem rgba($bdac-blue, 65%);

    &:hover {
      box-shadow: 0.07rem 0.07rem 0.3rem rgba($bdac-blue, 0.85);
    }
  }
}

// CMS Styling
.block-editor-block-list__block {
  p,
  strong,
  ul,
  li {
    font-size: 0.875rem !important;
    line-height: 1.125rem !important;
  }

  li {
    padding-left: 1rem !important;
  }
}
