// Colours
$bdac-red: #d91f26; // BDAC Red
$bdac-red-alt: #8c191b; // BDAC Alt Red
$bdac-blue: #071f5b; // BDAC Blue
$bdac-blue-alt: #dbe2f3; // BDAC Blue
$bdac-white: #f7f7ff;
$quaternary-colour: #fcba04;
$bdac-black: #304048; // RAF Blue/Grey
$white: #ffffff;
// $bdac-black: #444; Old Black Colour

// Fonts
$header-font: "Oswald", sans-serif;
$body-font: "Open-Sans", sans-serif;

// Borders
$default-border: 0.125rem solid $bdac-red;
