// Colours
$primary-colour: #d91f26; // BDAC Red
$primary-colour-alt: #8c191b; // BDAC Alt Red
$secondary-colour: #071f5b; // BDAC Blue
$tertiary-colour: #f7f7ff;
$quaternary-colour: #fcba04;
$black: #304048; // RAF Blue/Grey
// $black: #444; Old Black Colour

// Fonts
$header-font: "Exo", sans-serif;
$body-font: "Open-Sans", sans-serif;

// Borders
$default-border: 0.125rem solid $primary-colour;
