.blog {
  #main {
    margin-top: 82px;
  }

  .bdac-post {
    &-title a {
      color: $secondary-colour;
      transition: 300ms;

      &:hover {
        color: $primary-colour;
        text-decoration: none;
      }
    }
    &-link {
      color: $secondary-colour;
      transition: 300ms ease;

      &:hover {
        color: $primary-colour;
        text-decoration: none;
      }
    }
  }

  aside {
    ul {
      li {
        list-style: none;

        a {
          color: $secondary-colour;
          transition: 300ms ease;
          position: relative;

          &::after {
            content: "";
            background: $primary-colour;
            width: 100%;
            height: 0.0625rem;
            position: absolute;
            left: 0;
            bottom: -0.3rem;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 300ms ease;
          }

          &:hover {
            color: $primary-colour;
            text-decoration: none;

            &::after {
              transform: scaleX(1);
            }
          }

          &:hover {
            color: $primary-colour;
          }
        }
      }
    }
  }
}
