@import "../base/variables";

.block-tickets,
.block-tickets h2,
.block-tickets-table-header h6,
.block-tickets-table-row {
  color: $bdac-white;
}
.block-tickets {
  background: $bdac-black;

  &-table {
    color: $bdac-white;

    &-header {
      background: $bdac-red;

      h6 {
        margin: 0;
      }
    }

    &-row {
      border-bottom: 0.25px solid rgba($bdac-white, 0.2);
    }
  }
}
