@import "../base/variables";
@import "../base/mixins";

.bdac-tickets {
  &-content {
    background-color: $bdac-blue;
    border-radius: 0;

    @media (min-width: 80rem) {
      border-radius: 0.625rem 0 0 0.625rem;
      box-shadow: 0 0 1.25rem rgba($bdac-blue, 0.25);
    }
  }

  &-table {
    &-wrapper {
      background-color: $white;

      @media (min-width: 80rem) {
        border-radius: 0.625rem 0.625rem 0.625rem 0;
        box-shadow: 0 0 1.25rem rgba($bdac-blue, 0.25);
      }
    }

    &-head {
      th {
        border: 0.0625rem solid $bdac-blue;
        font-family: $header-font;
      }
    }

    &-entry {
      h5 {
        color: $white;
        margin-bottom: 0;
      }
    }
  }
}
