@import "../base/variables";

.bdac-faq {
  &-title {
    text-align: center;

    @media screen and (min-width: 992px) {
      text-align: left;
    }
  }

  &-accordion {
    border-radius: 0.625rem;
    box-shadow: 0 0 1.25rem rgb(7 31 91 / 25%);
    overflow: hidden;

    &-item {
      background-color: $bdac-blue-alt;
      overflow: hidden;

      &:nth-of-type(even) {
        background-color: $bdac-white;
      }
    }

    &-header {
      margin: 0;
    }

    &-button {
      background-color: transparent;
      color: $bdac-blue !important;
      font-family: $body-font;
      font-size: 1rem;
      font-weight: 700;
      width: 100%;
      border: none;
      height: 100%;
      margin: 0;
      display: flex;
      padding: 1rem;

      &:not(.collapsed) {
        background: $bdac-blue;
        color: $bdac-white !important;
        box-shadow: 0.3125rem 0 0.625rem $bdac-blue;
      }

      @media (min-width: 62rem) {
        font-size: 1.25rem;
      }
    }

    &-body {
      background: $white;
      color: $bdac-blue;
      padding: 1rem;
      font-weight: 500;
      font-size: 1rem;

      @media (min-width: 62rem) {
        padding: 2rem 1rem;
        font-size: 1.1875rem;
      }
    }
  }
}
