@import "../base/variables";

.bdac-news {
  .container {
    @media screen and (min-width: 992px) {
      max-height: 550px;
    }
  }

  &-content {
    border-radius: 0.625rem 0.625rem 0.625rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  &-title {
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
  }

  &-article {
    border-radius: 0.625rem 0.625rem 0 0;
    text-align: left;
    overflow: hidden;

    @media screen and (min-width: 992px) {
      border-radius: 0.625rem 0 0 0.625rem;
      box-shadow: 0 0 1.25rem rgba($bdac-blue, 0.25);
    }

    .btn-bdac:hover {
      background-color: transparent;
      color: $white;
      border-color: $bdac-red;
    }
  }

  &-image {
    object-fit: cover;
    border-radius: 0 0 0.625rem 0.625rem;
    box-shadow: 0 0 1.25rem rgba($bdac-blue, 0.25);
    overflow: hidden;

    @media screen and (min-width: 992px) {
      border-radius: 0.625rem 0.625rem 0.625rem 0;
    }

    img {
      object-fit: cover;
      max-height: 60vh;
    }
  }

  &-wrapper {
    max-height: 34.375rem;

    h2 {
      margin: 0;
      font-size: 2.25rem;
    }

    h3 {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
