@import "../base/variables";

.bdac-intro {
  .row {
    @media screen and (min-width: 992px) {
      min-height: 31.25rem;
      align-items: center;
    }
  }
  &-title {
  }

  &-content {
  }

  .col.col-12.col-md-5 {
    text-align: center;

    @media screen and (min-width: 992px) {
      text-align: left;
    }
  }

  .col.col-12.col-md-6 {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    position: relative;
    align-self: flex-start;

    @media screen and (min-width: 992px) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &-image {
    max-height: 30vh;
    object-fit: cover;
    border-radius: 0.625rem 0 0 0.625rem;
    box-shadow: 0 0 1.25rem rgba($bdac-blue, 0.25);
    left: 0;

    @media screen and (min-width: 992px) {
      width: 50vw;
      min-height: 31.25rem;
      position: absolute;
    }
  }
}
