@import "../base/variables";

.section-events {
  background-color: $bdac-blue-alt;

  &-title {
    justify-content: center;
    h2 {
      width: fit-content;
      font-size: 2.25rem;
      font-weight: 700;
      line-height: 1em;
      text-transform: uppercase;
    }
  }

  &-cards {
    padding: 0 0 3.125rem;
    justify-content: space-around;
    row-gap: 1.5rem;

    @media screen and (min-width: 992px) {
      padding: 3.125rem 0;
    }
  }

  &-all {
  }

  .row {
    // justify-content: flex-start;
    // row-gap: 1rem;

    // &:nth-of-type(2) {
    //   padding: 0 0 3.125rem;
    //   justify-content: space-around;

    //   @media screen and (min-width: 992px) {
    //     padding: 3.125rem 0;
    //   }
    // }

    &:last-of-type {
    }

    .col {
      text-align: center;

      .bdac-card {
        border-radius: 0.625rem;

        &-content {
          text-align: left;

          &-title {
            font-size: 1.5rem;
            font-weight: 700;
            text-transform: uppercase;
          }

          &-link {
            padding: 0.625rem 1.25rem;
            font-family: $body-font;
            font-size: 0.75rem;
            font-weight: 700;
            line-height: 0.75rem;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  &-all {
    justify-content: center;
  }
}
