@import "../base/variables";

.c-arrow {
  position: relative;
  width: 100%;
  left: 0;
  margin-left: 0;
  margin-top: -2vh;
  height: 4vh;
  overflow: hidden;

  @media (max-width: 768px) {
    margin-top: 0;
    height: 10vw;
  }

  &__left,
  &__right {
    content: " ";
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 0;
  }
  .c-arrow--inverted {
    margin-bottom: -1px;
  }
  // Left Arrow
  &--white.c-arrow--inverted > .c-arrow__left {
    border: 0;
    border-right: 1920px solid transparent;
    border-bottom: 150px solid $bdac-white;

    @media (max-width: 768px) {
      border-bottom-width: 350px;
    }
  }
  &--red.c-arrow--inverted > .c-arrow__left {
    border: 0;
    border-right: 1920px solid transparent;
    border-bottom: 150px solid $bdac-red;

    @media (max-width: 768px) {
      border-bottom-width: 350px;
    }
  }
  &--blue.c-arrow--inverted > .c-arrow__left {
    border: 0;
    border-right: 1920px solid transparent;
    border-bottom: 150px solid $bdac-blue;

    @media (max-width: 768px) {
      border-bottom-width: 350px;
    }
  }
  &--altblue.c-arrow--inverted > .c-arrow__left {
    border: 0;
    border-right: 1920px solid transparent;
    border-bottom: 150px solid $bdac-blue-alt;

    @media (max-width: 768px) {
      border-bottom-width: 350px;
    }
  }
  &__left {
    right: 50%;
  }

  // Right Arrow
  &--white.c-arrow--inverted > .c-arrow__right {
    border: 0;
    border-right: 1920px solid $bdac-white;
    border-top: 150px solid transparent;

    @media (max-width: 768px) {
      border-top-width: 350px;
    }
  }
  &--red.c-arrow--inverted > .c-arrow__right {
    border: 0;
    border-right: 1920px solid $bdac-red;
    border-top: 150px solid transparent;

    @media (max-width: 768px) {
      border-top-width: 350px;
    }
  }
  &--blue.c-arrow--inverted > .c-arrow__right {
    border: 0;
    border-right: 1920px solid $bdac-blue;
    border-top: 150px solid transparent;

    @media (max-width: 768px) {
      border-top-width: 350px;
    }
  }
  &--altblue.c-arrow--inverted > .c-arrow__right {
    border: 0;
    border-right: 1920px solid $bdac-blue-alt;
    border-top: 150px solid transparent;

    @media (max-width: 768px) {
      border-top-width: 350px;
    }
  }
  &__right {
    left: 50%;
  }
}
